<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    
	<servlet>
	   <servlet-name>HelloForm</servlet-name>
	   <servlet-class>HelloForm</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>HelloForm</servlet-name>
	   <url-pattern>/HelloForm</url-pattern>
	</servlet-mapping>
	

			<servlet>
			   <servlet-name>loginForm</servlet-name>
			   <servlet-class>loginForm</servlet-class>
			</servlet>
			
			<servlet-mapping>
			   <servlet-name>loginForm</servlet-name>
			   <url-pattern>/loginForm</url-pattern>
			</servlet-mapping>
	
	
					<servlet>
					   <servlet-name>ResultPage</servlet-name>
					   <servlet-class>ResultPage</servlet-class>
					</servlet>
					
					<servlet-mapping>
					   <servlet-name>ResultPage</servlet-name>
					   <url-pattern>/ResultPage</url-pattern>
					</servlet-mapping>



							<servlet>
							   <servlet-name>NewStudentForm</servlet-name>
							   <servlet-class>NewStudentForm</servlet-class>
							</servlet>
							
							
							
							<servlet-mapping>
							   <servlet-name>NewStudentForm</servlet-name>
							   <url-pattern>/NewStudentForm</url-pattern>
							</servlet-mapping>
</web-app>